@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: thin;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  outline: 2px solid #242424;
  color: 242424;
  background-color: transparent;
  transition: 0.2s all;
  font-weight: 500;
}

.input_submit:hover {
  background-color: #ececec;
  cursor: pointer;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.todos__single {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: aliceblue;
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 1.2rem;
  color: black;
}

.todos__single--text:focus {
  outline: none;
}
.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
  color: black;
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }

  .todos {
    width: 95%;
  }
  .todos__single {
    width: 100%;
  }
}
