@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.read-the-docs {
  color: #888;
}

.heading {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 30px 0;
}
